RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index.php|js|images|stylesheets|robots.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]
AddDefaultCharset utf-8